**/.DS_Store
.env.macos
.env2
.chaletrc
chalet.yaml.zip
build/**
chalet_external/**
dist/**
install/**
Release/**
**/.chaletrc
**/.env2
**/chalet.yaml.zip
**/build/**
**/chalet_external/**
**/dist/**
**/install/**
**/Release/**
