**/.DS_Store
.env.macos
.chaletrc
build/**
chalet_external/**
dist/**
**/.chaletrc
**/build/**
**/chalet_external/**
**/dist/**

openssl-curl/Build-OpenSSL-cURL/curl/*/**
openssl-curl/Build-OpenSSL-cURL/openssl/*/**
openssl-curl/curl/**
openssl-curl/*.zip
mango/*/**
mango2/*/**